{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <form method="post" id="login-form">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
        <label for="username">Adresse mail</label>
        <input type="text" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="username" required autofocus>
        <label for="password">Mot de passe</label>
        <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        <button class="btn btn-lg btn-primary" type="submit">
            Validez
        </button>
    </form>
    <script>
        document.getElementById('login-form').addEventListener('submit', function(event) {
            event.preventDefault(); // Empêche la soumission du formulaire par défaut
            
            var username = document.getElementById('username');
            var password = document.getElementById('password');

            var url = 'http://127.0.0.1:8000/api/login_check';

            var data = {
                'username': username.value,
                'password': password.value
            }
            fetch(url, {
                method: 'POST',
                headers: {'Content-Type':'application/json'},
                body: JSON.stringify(data)
            })

            .then(function(response) {
                if (!response.ok) {
                    throw new Error('Erreur lors de la vérification de la connexion.');
                }
                return response.json();
            })
            .then(function(data) {
                if (data.connected) {
                    console.log('Connecté avec succès.');
                } else {
                    console.log('Nom d\'utilisateur ou mot de passe incorrect.');
                }
            })
            .catch(function(error) {
                console.log(error.message);
            });
        });
    </script>           

{% endblock %}
